include ../mixins/author_list
include ../mixins/head
include ../mixins/navigation
include ../mixins/slider
include ../mixins/latest-comments
include ../mixins/features
include ../mixins/footer
include ../mixins/bottom-loader

+head
.gtco-loader
#page
    +navigation(logged_in_user && logged_in_user.is_admin, 'admin')
    .gtco-section
        .gtco-container
            .row.gtco-heading
                .col-lg-11.col-centered
                    table(class="table table-striped")
                        thead
                            tr
                                th
                                    span ID
                                th
                                    span Book Title
                                th
                                    span Created Date
                                th
                                    span Updated Date
                                th
                                    span Actions
                        tbody
                            each book in books
                                tr
                                    td
                                        span=book._id
                                    td
                                        span=book.title
                                    td
                                        span=book.created_at
                                    td
                                        span=book.updated_at
                                    td
                                        div
                                            a(href=`book/${book._id}/edit`)
                                                i.ti-link Edit



    +footer
+bottom-loader