mixin list-books(books, users_favourites)
    .gtco-section
        .gtco-container
            .row
                .col-lg-11.col-centered
                    div.item
                        if books
                            each book in books
                                div.gtco-item
                                    hr
                                    h2
 
                                        icon(class="ti-star favourite" title="Remove Book from Favourites" style=`display:${users_favourites.indexOf(book._id) > -1 ? "" : "none"} ` name=`favourite-${book._id}` onclick=`removeFavouriteBook("${book._id}")`) 
                                        icon(class="ti-star nonfavourite" title="Add Book to Favourites" style=`display:${users_favourites.indexOf(book._id) > -1 ? "none" : ""} ` name=`nonfavourite-${book._id}` onclick=`addFavouriteBook("${book._id}")`)
                                        span=`${'Book Title: '} ${book.title}`
                                        
                                    br
                                    h3 Authors
                                    each author,index in book.authors
                                        h5= (index + 1) + '. ' + author.last_name + "," + author.first_name
                                    a(href=`/book/${book.id}`) View
                                    hr
                        else
                            div No Books Found!
    script(src='/js/book_client.js')