mixin news(comments)
	.gtco-section
		.gtco-container
			.row
				.col-md-6.gtco-news
					h2 Latest Comments
					ul
						li
							each comment in comments
								a(href=`/book/${comment.book._id}`)
									span.post-date=`${comment.created_at}`
									h3=`Book Title: ${comment.book.title}`
									h2=`${comment.comment}`
									p=`Comment By: ${comment.user.last_name}, ${comment.user.first_name}`